.custom-container {
    max-width: 800px;  /* Ajuste o valor conforme necessário */
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;  /* Cor de fundo do contêiner */
    border-radius: 10px;
  }
  
  .custom-container .row {
    margin-left: 0;
    margin-right: 0;
  }
  