.toolbar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.input-pesquisa, .select-filtro {
  width: 200px; 
}

button.mat-icon-button {
  margin-left: -10px;
}

button {
  margin-top: 10px;
  min-width: 120px; 
}

button.mat-raised-button {
  padding: 8px 16px;
  font-weight: bold;
}

.text-center {
  font-size: 16px; 
  font-weight: 500;
  color: #666;
}

.carro-card {
  margin: 10px; 
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  width: 300px; 
}

.carro-header h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0; 
}

.carro-body {
  font-size: 0.9rem;
  /* color: #444; */
}

.carro-body p {
  margin-bottom: 8px;
}

.carro-body button {
  margin-right: 8px; 
  font-size: 0.9rem;
}

.carro-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 16px; 
  justify-content: flex-start; 
}

.carro-card {
  width: calc(33.33% - 16px); 
  box-sizing: border-box;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .carro-card {
    width: calc(50% - 16px); 
  }
}

@media (max-width: 480px) {
  .carro-card {
    width: 100%; 
  }
}
