<div class="container p-4 bg-light rounded">
    <h2 class="text-center" style="font-size: 1.8rem;">Cadastro de Carro</h2>
    <form [formGroup]="form" class="form-large">
        <div class="row mb-3">
            <div class="col-md-2">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" id="nome" formControlName="nome" class="form-control" />
            </div>
            <div class="col-md-1">
                <label for="ano" class="form-label">Ano</label>
                <input type="number" id="ano" formControlName="ano" class="form-control" />
            </div>
            <div class="col-md-1">
                <label for="quilometragem" class="form-label">KMs</label>
                <input type="number" id="quilometragem" formControlName="quilometragem" class="form-control" />
            </div>
            <div class="col-md-2">
                <label for="valorBruto" class="form-label">Valor Bruto</label>
                <input type="number" id="valorBruto" formControlName="valorBruto" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-2">
                <label for="concessionaria" class="form-label">Concessionária</label>
                <input type="text" id="concessionaria" formControlName="concessionaria" class="form-control" />
            </div>
            <div class="col-md-1">
                <label for="placa" class="form-label">Placa</label>
                <input type="text" id="placa" formControlName="placa" class="form-control" />
            </div>
            <div class="col-md-1">
                <label for="numeroDeDonos" class="form-label">Donos</label>
                <input type="number" id="numeroDeDonos" formControlName="numeroDeDonos" class="form-control" />
            </div>
            <div class="col-md-2">
                <label for="valorLiquido" class="form-label">Valor Líquido</label>
                <input type="number" id="valorLiquido" formControlName="valorLiquido" class="form-control" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="categoria" class="form-label">Categoria</label>
                <select id="categoria" formControlName="categoria" class="form-control">
                    <option value="" disabled selected>Selecione a categoria</option>
                    <option *ngFor="let categoria of categorias" [value]="categoria.nome">{{ categoria.nome }}</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="cor" class="form-label">Cor</label>
                <select id="cor" formControlName="cor" class="form-control">
                    <option value="" disabled selected>Selecione a cor</option>
                    <option *ngFor="let cor of cores" [value]="cor.nome">{{ cor.nome }}</option>       
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="marca" class="form-label">Marca</label>
                <select id="marca" formControlName="marca" class="form-control">
                    <option value="" disabled selected>Selecione a marca</option>
                    <option *ngFor="let marca of marcas" [value]="marca.nome">{{ marca.nome }}</option>       
                </select>
            </div>
            <div class="col-md-3">
                <label for="combustivel" class="form-label">Tipo de Combustível</label>
                <select id="combustivel" formControlName="combustivel" class="form-control">
                    <option value="" disabled selected>Selecione o tipo de combustivel</option>
                    <option *ngFor="let tipoDeCombustivel of tiposDeCombustiveis" [value]="tipoDeCombustivel.nome">{{ tipoDeCombustivel.nome }}</option>       
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="observacoes" class="form-label">Observações</label>
                <textarea id="observacoes" formControlName="observacoes" class="form-control" rows="4"></textarea>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-primary mx-2">Cadastrar</button>
            <button type="button" class="btn btn-secondary mx-2">Voltar</button>
        </div>
    </form>
</div>
