<mat-toolbar color="primary">
    <a mat-button [routerLink]="['/home']" class="navbar-brand">Home</a>
  
    <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav">
      <mat-icon>menu</mat-icon>
    </button>
  
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" opened="false">
        <div class="menu">
          <mat-list>
            <a mat-list-item *ngIf="!usuarioLogado" [routerLink]="['/login']">Login</a>
            <a mat-list-item *ngIf="!usuarioLogado" [routerLink]="['/usuario/cadastrar-usuario']">Cadastro</a>
            <a mat-list-item *ngIf="usuarioLogado" [routerLink]="['/usuario']">Meu Perfil</a>
            <a mat-list-item *ngIf="usuarioLogado" (click)="sair()">Sair</a>
          </mat-list>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  
    <span class="spacer"></span> <!-- Spacer to align items to the right -->
  
    <div *ngIf="usuarioLogado" class="user-actions">
      <button mat-button [routerLink]="['/usuario']">Meu Perfil</button>
      <button mat-button (click)="sair()">Sair</button>
    </div>
  </mat-toolbar>
  