<mat-toolbar color="primary">
  <a mat-button [routerLink]="['/home']" class="navbar-brand">Home</a>
  <!-- <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav">
    <mat-icon>menu</mat-icon>
  </button> -->

  <a mat-button *ngIf="!usuarioLogado" [routerLink]="['/login']">Login</a>
  <a mat-button *ngIf="!usuarioLogado" [routerLink]="['/home/cadastrar-usuario']">Cadastro</a>

  <div *ngIf="usuarioLogado" class="user-actions">
    <button mat-button [routerLink]="['/home/meu-perfil', usuarioId]">Meu Perfil</button>
    <button mat-button (click)="sair()">Sair</button>
  </div>
</mat-toolbar>