<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p-card header="Login" class="alinhamento flex justify-content-center align-items-center"
        [style]="{ width: '360px' }">
        <div class="field">
            <label for="Email">Email</label>
            <input type="text" pInputText class="w-full" name="Email" formControlName="email" />                 
        </div>
        <div class="field">
            <label for="senha">Senha</label>
            <input type="password" pInputText class="w-full" name="senha" placeholder="Digite sua senha" formControlName="senha" />
        </div>
        <p-button label="Entrar" styleClass="w-full" type="submit"></p-button>
        <div class="mt-2">Não tem conta? <a [routerLink]="['/register']">Cadastre-se</a></div>
    </p-card>
</form>