<form>
    <p-card header="Login" class="alinhamento flex justify-content-center align-items-center">
        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText formControlName="email" class="w-full" name="email"
                placeholder="Type your email" />
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" pInputText formControlName="password" class="w-full" name="password"
                placeholder="Type your password" />
        </div>
        <p-button label="Entrar" styleClass="w-full" type="submit"></p-button>
        <div class="mt-2">Não tem conta? <a [routerLink]="['/register']">Cadastre-se</a></div>
    </p-card>
</form>