<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p-card header="Cadastre-se" class="alinhamento flex justify-content-center align-items-center"
        [style]="{ width: '360px' }">
        <div class="field">
            <label for="nome">Nome</label>
            <input type="text" pInputText formControlName="nome" class="w-full" id="nome" name="nome" />
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText formControlName="email" class="w-full" id="email" name="email" />
        </div>
        <div class="field">
            <label for="cpf">CPF</label>
            <input type="text" pInputText formControlName="cpf" class="w-full" id="cpf" name="cpf" />
        </div>
        <div class="field">
            <label for="telefone">Telefone</label>
            <input type="text" pInputText formControlName="telefone" class="w-full" id="telefone" name="telefone" />
        </div>
        <div class="field">
            <label for="cep">CEP</label>
            <input type="text" pInputText formControlName="cep" class="w-full" id="cep" name="cep" />
        </div>
        <div class="field">
            <label for="logradouro">logradouro</label>
            <input type="text" pInputText formControlName="logradouro" class="w-full" id="logradouro"
                name="logradouro" />
        </div>
        <div class="field">
            <label for="bairro">Bairro</label>
            <input type="text" pInputText formControlName="bairro" class="w-full" id="bairro"
                name="bairro" />
        </div>
        <div class="field">
            <label for="cidade">Cidade</label>
            <input type="text" pInputText formControlName="cidade" class="w-full" id="cidade" name="cidade" />
        </div>
        <div class="field">
            <label for="estado">Estado</label>
            <input type="text" pInputText formControlName="estado" class="w-full" id="estado" name="estado" />
        </div>
        <div class="field">
            <label for="senha">Senha</label>
            <input type="password" pInputText formControlName="senha" class="w-full" id="senha" name="senha" />
        </div>
        <p-button label="Cadastrar" styleClass="w-full" type="submit"></p-button>
    </p-card>
</form>