<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p-card header="Cadastre-se" class="alinhamento flex justify-content-center align-items-center"
        [style]="{ width: '360px' }">
        <div class="field">
            <label for="nome">Nome</label>
            <input type="text" pInputText formControlName="nome" class="w-full" />
            <small *ngIf="form.get('nome')?.invalid && form.get('nome')?.touched">
                <span *ngIf="form.get('nome')?.errors?.['required']">Nome é obrigatório</span>
                <span *ngIf="form.get('nome')?.errors?.['minlength']">Nome deve ter no mínimo 3 caracteres.</span>
            </small>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText formControlName="email" class="w-full" />
            <small *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched ) ">
                <span *ngIf="form.get('email')?.errors?.['required']">Email é obrigatório</span>
                <span *ngIf="form.get('email')?.errors?.['email']">O email precisa ser válido</span>
            </small>
        </div>
        <div class="field">
            <label for="cpf">CPF</label>
            <input type="text" pInputText formControlName="cpf" class="w-full" />
        </div>
        <div class="field">
            <label for="telefone">Telefone</label>
            <input type="text" pInputText formControlName="telefone" class="w-full" />
        </div>
        <div class="field">
            <label for="cep">CEP</label>
            <input type="text" pInputText formControlName="cep" class="w-full" />
        </div>
        <div class="field">
            <label for="logradouro">Logradouro</label>
            <input type="text" pInputText formControlName="logradouro" class="w-full" />
        </div>
        <div class="field">
            <label for="bairro">Bairro</label>
            <input type="text" pInputText formControlName="bairro" class="w-full" />
        </div>
        <div class="field">
            <label for="cidade">Cidade</label>
            <input type="text" pInputText formControlName="cidade" class="w-full" />
        </div>
        <div class="field">
            <label for="estado">Estado</label>
            <input type="text" pInputText formControlName="estado" class="w-full" />
        </div>
        <div class="field">
            <label for="senha">Senha</label>
            <input type="password" pInputText formControlName="senha" class="w-full" />
        </div>
        <div class="field">
            <label for="confirmarSenha">Confirmar Senha</label>
            <input type="password" pInputText formControlName="confirmarSenha" class="w-full" />
            <small *ngIf="form.get('confirmarSenha')?.invalid && form.get('confirmarSenha')?.touched">
                <span *ngIf="form.get('confirmarSenha')?.errors?.['required']">Confirmar senha é obrigatório</span>
                <span *ngIf="form.get('confirmarSenha')?.errors?.['Mustmatch']">As senhas não coincidem</span>
            </small>
        </div>
        <p-button label="Cadastrar" styleClass="w-full" type="submit"></p-button>
    </p-card>
</form>